.button {
  font-size: 1em; // Same as parent
  padding: 1em;   // Padding is same as font size (scales)
}

.container{
  display: flex;
  gap: 1rem;
  .box {
    flex: 1; // each takes equal width
    padding: 1rem;
    background-color: lightblue;
  }
}
